* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*---------------LAYOUT----------------*/

.layout {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 7fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar subheader"
    "sidebar main";
}

/*---------------SIDEBAR----------------*/

.sidebar svg {
  height: 1em;
  width: 1em;
  vertical-align: text-top;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(23, 147, 212);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
}

.sidebar li {
  padding: 16px;
  font-weight: 800;
  font-size: 1.25em;
}

/*----------HEADER------------------*/

.header {
  grid-area: header;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 25px;
}

.header svg {
  height: 1.33em;
  width: 1.33em;
  vertical-align: middle;
}

.header-input {
  background-color: rgb(227, 231, 239);
  border: 5px solid rgb(227, 231, 239);
  border-radius: 10px;
  width: 90%;
}

.header form {
  flex-basis: 50%;
}

.prof-picture-icon {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: yellow;
  overflow: hidden;
}

.prof-picture-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-right {
  display: flex;
  gap: 20px;
}

.header-right svg,
.header-right h3 {
  align-self: center;
}

/*---------------SUBHEADER----------------*/

.subheader {
  grid-area: subheader;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
}

.subheader-left {
  display: flex;
}

.subheader-left > .prof-picture-icon {
  height: 4em;
  width: 4em;
  align-self: center;
}

.aches {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
}

.subheader-right {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.btn {
  background-color: rgb(23, 147, 212);
  color: white;
  border: solid 1px rgb(23, 147, 212);
  border-radius: 20px;
  padding: 1em 2em;
}

/*---------------MAIN----------------*/

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-area: main;
  background-color: rgb(225, 232, 239);
  padding: 1em;
  grid-template-areas: "projects announcements-trending";
  gap: 1em;
}

.projects-grid {
  grid-area: projects;
  display: grid;
  grid-template-rows: 20px repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  grid-template-areas:
    "projects-title projects-title"
    "super-cool-project less-cool-project"
    "impossible-app easy-peasy-app"
    "ad-blocker money-maker";
}

.projects-title {
  grid-area: projects-title;
}

.super-cool-project {
  grid-area: super-cool-project;
}

.less-cool-project {
  grid-area: less-cool-project;
}

.impossible-app {
  grid-area: impossible-app;
}

.easy-peasy-app {
  grid-area: easy-peasy-app;
}

.ad-blocker {
  grid-area: ad-blocker;
}

.money-maker {
  grid-area: money-maker;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  border-left: 8px solid rgb(248, 117, 86);
}

.announcements-trending-grid {
  grid-area: announcements-trending;
  display: grid;
  grid-template-rows: 20px repeat(2, 1fr);
  gap: 1.5em;
  grid-template-areas:
    "announcements-title"
    "announcements"
    "trending";
}

.announcements,
.trending {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  padding: 2em;
}

.announcements p,
.trending p {
  font-size: 0.7em;
  color: rgb(95, 95, 95);
  margin-bottom: 10px;
}

.announcements h5,
.trending h5 {
  margin-top: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 16px 0;
}

.announcements-title {
  grid-area: announcements-title;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
